@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #98c1d9 50%, #028090 50%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}
div {
  display: flex;
  align-items: center;
}
main {
  text-align: center;
}
h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 4rem;
  color: #c5dc50;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  body {
    background: #028090;
    font-size: 16px;
  }
  div {
    flex-flow: column;
    > * {
      max-width: 500px;
      height: 100%;
    }
  }
}
.button {
  font-family: "Fontdiner Swanky", cursive;
  margin-left: 10px;
  padding: 8px 15px;
  color: #383838;
  border: none;
  background-color: #f36a6f;
  text-decoration: none;
}
.button:hover{
  color: white;
  opacity: 0.85;
  transform: skew(-5deg);
}
img{
  width: 75%;
}
a{
  border: 10px solid black;
}
